#game-grid {
  --grid-color: red;
}

.grid-row:after {
  clear: both;
  content: "";
  display: table;
}

/* Setup grid colouring */

.grid-row .square:first-child, .grid-row .square:nth-child(2) {
  border-right: 2px solid var(--grid-color);
}

.grid-row .square:nth-child(2), .grid-row .square:last-child {
  border-left: 2px solid var(--grid-color);
}

.grid-row .square:first-child, .grid-row .square:nth-child(2) {
  border-right: 2px solid var(--grid-color);
}

.grid-row:first-child .square {
  border-bottom: 2px solid var(--grid-color);
}

.grid-row:nth-child(2) .square {
  border-top: 2px solid var(--grid-color);
  border-bottom: 2px solid var(--grid-color);
}

.grid-row:last-child .square {
  border-top: 2px solid var(--grid-color);
}

/* Round grid corners */

.grid-row:first-child .square:first-child {
  border-top-left-radius: 5px;
}

.grid-row:first-child .square:last-child {
  border-top-right-radius: 5px;
}

.grid-row:last-child .square:first-child {
  border-bottom-left-radius: 5px;
}

.grid-row:last-child .square:last-child {
  border-bottom-right-radius: 5px;
}
