.grid-row:after {
  clear: both;
  content: "";
  display: table;
}

/* Setup grid colouring */

.grid-row .square:first-child, .grid-row .square:nth-child(2) {
  border-right: 1px solid var(--grid-color);
}

.grid-row .square:nth-child(2), .grid-row .square:last-child {
  border-left: 1px solid var(--grid-color);
}

.grid-row .square:first-child, .grid-row .square:nth-child(2) {
  border-right: 1px solid var(--grid-color);
}

.grid-row:first-child .square {
  border-bottom: 1px solid var(--grid-color);
}

.grid-row:nth-child(2) .square {
  border-top: 1px solid var(--grid-color);
  border-bottom: 1px solid var(--grid-color);
}

.grid-row:last-child .square {
  border-top: 1px solid var(--grid-color);
}
