.square {
  background-color: var(--panel-background);
  border: none;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  height: 200px;
  width: 200px;
  padding: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

@media (max-width: 620px) {
  .square {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 480px) {
  .square {
    height: 100px;
    width: 100px;
  }

  .square svg {
    width: 80%;
    height: 80%;
    /* padding-top: 0px; */
  }
}
