#score-board {
  margin-top: 0px;
  margin-bottom: 10px;
  width: 720px;
  height: 50px;
  background-color: var(--panel-background);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#score-board .player {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#score-board .player .score {
  color: var(--grid-color);
  border-bottom: 1px solid;
  width: 80px;
  margin-left: 10px;
  text-align: right;
  font-size: 21px;
  font-weight: 100;
}

/* Player turn color animation */
#score-board .player.turn {
  animation: 2s backgroundblink infinite alternate;
}

@keyframes backgroundblink {
  to {
    background-color: var(--player-turn-color);;
  }
}
