body {
  --primary-bold: #f57c00;
  --primary-color: #fcce7e;
  --secondary-color: #B00020;
  --error-color: #B00020;
  --grid-color: #000;
  --panel-background: #fff;
}

body {
  background-color: var(--primary-bold);
}

.elevate {
  box-shadow: 2px 2px 10px #333;
}

.rounded {
  border-radius: 5px;
}
