body {
  background-color: #6FCF97;
}

.elevate {
  box-shadow: 2px 2px 10px #333;
}

.rounded {
  border-radius: 5px;
}

/* .flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */